<%= form_with(model: blog_post_draft, local: true) do |form| %>
  <% if blog_post_draft.errors.any? || @cat.errors.any? ||
        @blog_post.errors.any?  %>
    <div id="error_explanation">
      <h2><%= pluralize(blog_post_draft.errors.count+@cat.errors.count+
                        @blog_post.errors.count,
                        "error") %> prohibited this blog_post_draft from being
                         saved:</h2>

      <ul>
      <% blog_post_draft.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      <% @cat.errors.full_messages.each do |message| %>
        <li>(category) <%= message %></li>
      <% end %>
      <% @blog_post.errors.full_messages.each do |message| %>
        <li>(YAML data) <%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if show_name %>
    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name, id: :blog_post_draft_name %>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, id: :blog_post_draft_content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
