<p>
  <strong>Name:</strong>
  <%= @video_file.name %>
</p>

<% if @video_file.item.present? %>
  <video controls>
    <source src="<%= @video_file.item_url %>"
      type="<%= @video_file.item.content_type %>">
    Your browser does not support the video element.
  </video> 
<% end %>

<p>
  <strong>Item:</strong>
  <%= @video_file.item %>
</p>

<%= link_to 'Edit', edit_video_file_path(@video_file) %> |
<%= link_to 'Back', video_files_path %>
