<%= form_with(model: project_header, local: true) do |form| %>
  <% if project_header.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project_header.errors.count, "error") %> prohibited this project_header from being saved:</h2>

      <ul>
      <% project_header.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :project_header_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
