<ul>
  <li><%= link_to "users", 'users' %></li>
  <li><%= link_to "social media links", 'social_media_links' %></li>
</ul>

<ul>
  <li><%= link_to "projects", 'projects' %></li>
  <li><%= link_to "project headers", 'project_headers' %></li>
</ul>

<ul>
  <li><%= link_to "draft upload", upload_form_blog_post_path %></li>
  <li><%= link_to "blog posts", 'blog_posts' %></li>
  <li><%= link_to "blog categories", 'blog_categories' %></li>
  <li><%= link_to "tags", 'tags' %></li>
</ul>

<ul>
  <li><%= link_to "microposts", 'microposts' %></li>
  <li><%= link_to "sticky messages", 'sticky_messages' %></li>
</ul>

<ul>
  <li><%= link_to "image files", 'image_files' %></li>
  <li><%= link_to "audio files", 'audio_files' %></li>
  <li><%= link_to "video files", 'video_files' %></li>
  <li><%= link_to "other files", 'other_files' %></li>
</ul>

<ul>
  <li><%= link_to "comments", 'comments' %></li>
</ul>

<ul>
  <li><%= link_to "requests", 'requests' %></li>
  <li><%= link_to "ip_blacklists", 'ip_blacklists' %></li>
  <li><%= link_to "spam_comments", 'spam_comments' %></li>
</ul>
