<% provide(:title, "Edit password") %>
<% provide(:button_text, "Save changes") %>
<h1>Update your profile</h1>

<div class="form">

  <%= form_for @user, url: { action: "update_password" } do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.label :current_password %>
    <%= f.password_field :current_password, class: 'form-control' %>

    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>

    <%= f.label :password_confirmation, "Confirmation" %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>

    <%= f.submit yield(:button_text), class: "form-btn" %>
  <% end %>

</div>
