<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Header ID:</strong>
  <%= @project.project_header_id %>
</p>

<p>
  <strong>Published:</strong>
  <%= @project.published %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
