<%= form_with(model: post_file, local: true) do |form| %>
  <%= render 'shared/error_messages', object: form.object %>

  <div class="field">
    <%= form.label :item %>
    <%= image_tag(post_file.item_url) if post_file.item? %>
    <%= form.file_field :item, class: 'form-control' %>
    <%= form.hidden_field :item_cache %>
  </div>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type, id: :post_file_type %>
  </div>

  <div class="field">
    <%= form.label :image_dimensions %>
    <%= form.text_field :image_dimensions, id: :post_file_image_dimensions %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
