<p>
  <strong>Name:</strong>
  <%= @project_draft.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @project_draft.content %>
</p>

<p>
  <strong>Published:</strong>
  <%= @project_draft.published %>
</p>

<%= link_to 'Edit', edit_project_draft_path(@project_draft) %> |
<%= link_to 'Back', project_drafts_path %>
